@import url('https://googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth !important;
}

body {
  min-height: 100vh;
  background: linear-gradient(#000066, #ff0066);
  overflow-x: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}

header .logo {
  color: #e6005c;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 8px 30px;
  border-radius: 40px;
};
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}

header ul li a:hover {
  background: #fff;
  color: #ff0066;
}

header ul li a:hover,
header ul li a.active {
  background-color: #fff;
  color: #ff0066;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 1000;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

section img#moon {
  mix-blend-mode: screen;
}

section img#mountains_front {
  z-index: 10;
}

#text {
  position: absolute;
  right: -750px;
  color: #fff;
  white-space: nowrap;
  font-size: 7.5vw;
  z-index: 9;
}

#btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background: #fff;
  color: #000066;
  font-size: 1.5em;
  transform: translateY(100px);
}
#btn:hover{
  color: #e6005c;
}
.sec {
  position: relative;
  padding: 100px;
  background: #1c0522;
}

#sec h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #fff;
}

.sec p {
  font-size: 2em;
  color: #fff;
}

#sa {
  position: relative;
  padding: 100px;
  background: #99003d;
}

#sa h2{
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #fff;
}

#sa p {
  font-size: 1em;
  color: #fff;
}

#p {
  position: relative;
  padding: 100px;
  background: #4d001f;
}

#p h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #fff;
}

#p p {
  font-size: 1em;
  color: #fff;
}

#q {
  position: relative;
  padding: 100px;
  background: #00004d ;
}

#q h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #fff;
}

#q p {
  font-size: 1em;
  color: #fff;
}

#u {
  position: relative;
  padding: 100px;
  background: #330033 ;
}

#u h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #fff;
}

#u p {
  font-size: 1em;
  color: #fff;
}
#r {
  position: relative;
  padding: 100px;
  background: #b30000 ;
}

#r h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #fff;
}

#r p {
  font-size: 1em;
  color: #fff;
}

#l{
  position: relative;
  padding: 100px;
  background: #00324d;
}

#l h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #fff;
}

#l p {
  font-size: 1em;
  color: #fff;
}
#d {
  position: relative;
  padding: 100px;
  background: #1c0522 ;
}

#d h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #fff;
}

#d p {
  font-size: 1em;
  color: #fff;
}
